{% extends 'base.html.twig' %}

{% block title %}Twitter tweet wall {% endblock %}

{% block body %}
   <div style="display: none">
         {{ dump(res) }}
    </div>
    {% include 'twitter.html.twig' %}
{% endblock %}
