{% extends 'base.html.twig' %}

{% block title %}Twitter tweet wall {% endblock %}

{% block body %}
   <div style="display: none">
         {{ dump(res) }}
    </div>
    <div id="tweetContainer" class="container">
    	{% include 'twitter.html.twig' %}
    </div>
{% endblock %}
