{% extends 'base.html.twig' %}

{% block title %}Twitter tweet wall {% endblock %}

{% block body %}
   <div class="container">
      <div class="row">
         <div class="col">
            1 of 2
         </div>
   </div>

{% endblock %}